/* CSS for TaggedTextXBlock */

.taggedtext_block table {
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.taggedtext_block table td {
    padding: 0.2em;
    border-bottom: 1px solid #ddd;
}

.taggedtext_block table tr:last-child td {
    border-bottom: 0 none;
}

.taggedtext_block table .color {
    width: 1.3em;
}

.taggedtext_block table .title {
    font-weight: 500;
}

.taggedtext_block table .color span {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.taggedtext_block .text .tag {
    display: inline-block;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 2px 0;
    padding: 0.1em 0.3em;
    position: relative;
    cursor: pointer;
}

.taggedtext_block .text .tag .dropdown {
    transition: all 0.2s ease-in;
    display: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: absolute;
    top: 1.5em;
    right: -1px;
    z-index: 10;
    background: #fff;
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.taggedtext_block .text .tag.active .dropdown {
    border-top-right-radius: 0;
}

.taggedtext_block .text .tag .dropdown li {
    padding: 0.2em 0.6em;
    white-space: nowrap;
}

.taggedtext_block .text .tag .dropdown li .color {
    display: inline-block;
    height: 0.8em;
    width: 0.8em;
    vertical-align: baseline;
    margin: 0 0.3em 0 0;
    border: 1px solid transparent;
}

.taggedtext_block .text .tag .dropdown li:hover {
    background-color: #ddd;
}

.taggedtext_block .text .tag .dropdown li:hover .color {
    border-color: #fff;
}

.taggedtext_block .text .tag.active {
    background-color: #fff;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.taggedtext_block .action {
    margin-top: 20px;
}
